﻿
@{
    ViewBag.Title = "Add";
}
@*<head>
    <script src="~/Content/assets/css/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
</head>*@
<style>
    .form-control {
        width: 50%;
    }

    .input-group {
        width: 50%;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <!--Student Information Form-->
        <div class="panel panel-inverse" data-sortable-id="form-stuff-4">
            <div class="panel-heading">
                <h2 class="panel-title">Student Information</h2>
            </div>
            <br />
           
                <form class="form-horizontal" action="#" method="POST">
                    <fieldset>
                        <legend>Add New Student</legend>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Student Name :</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Student RegNo. :</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Student B-Form No :</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label">Student Picture :</label>
                            <div class="col-md-8">
                                <input type="file" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Admission Status :</label>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option>Newly Admitted</option>
                                    <option>Re_Admitted</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Admission Date :</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label">Gender :</label>
                            <div class="col-md-8">
                                <div class="col-md-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" value="Male" checked="">
                                        Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" value="Female">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">Date of birth :</label>
                            <div class="col-md-8">
                                <div class="input-group date" id="datetimepicker1">
                                    <input type="text" class="form-control" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label">Student Class :</label>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option value="">Select Class</option>
                                    <option>Nursery</option>
                                    <option>Prep</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>7</option>
                                    <option>8</option>
                                    <option>9</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Class Shift :</label>
                            <div class="col-md-8">
                                <div class="col-md-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" value="Morning" checked="">
                                        Morning
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" value="Evening">
                                        Evening
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Inclusive :</label>
                            <div class="col-md-8">
                                <select class="form-control">
                                    <option>NO DISABILITY</option>
                                    <option>HAIRING IMPAIRMENT</option>
                                    <option>MENTALLY CHALLENGED</option>
                                    <option>PHYSICALLY HANDICAP</option>
                                    <option>SLOW LEARNER</option>
                                    <option>VISUAL IMPAIRMENT</option>
                                    <option>OTHER</option>

                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label">Briklin :</label>
                            <div class="col-md-8">
                                <input type="checkbox" id="mincheck" name="mincheck[]" data-parsley-mincheck="2" value="" required="" data-parsley-multiple="mincheck" data-parsley-id="1337">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Orphan Students :</label>
                            <div class="col-md-8">
                                <div class="col-md-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" value="Yes" checked="">
                                        Yes
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" value="No">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Students from minority segment of society :</label>
                            <div class="col-md-8">
                                <div class="col-md-9">
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" value="Christianity" checked="">
                                        Christianity
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" value="Hindu">
                                        Hindu
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" value="Sikh">
                                        Sikh
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" value="Other">
                                        Other
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!--Family Information Form-->
                        <br />
                            <legend>Family Information</legend>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Father Name :</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Father CNIC. :</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-md-4 control-label">Mother Name :</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-4 control-label">Mother CNIC :</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-4 control-label">Guardian Name :</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-md-4 control-label">Guardian CNIC :</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Father / Guardian Occupation :</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Father Education :</label>
                                <div class="col-md-8">
                                    <select class="form-control">
                                        <option value="">Please Select</option>
                                        <option>Uneduacted</option>
                                        <option>Primary</option>
                                        <option>Middle</option>
                                        <option>Matriculation</option>
                                        <option>FA/FSC/I.COM/ICS/ and/or equivalent</option>
                                        <option>BA/BSC/B.COM amd/or equivalent</option>
                                        <option>MA/MSC/MCOM/BS/MBA amd/or equivalent</option>
                                        <option>M.Phill/MS/PHD and/or equivalent</option>
                                        <option>Any Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Father's Profession :</label>
                                <div class="col-md-8">
                                    <div class="col-md-9">
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadios" value="employeed" checked="">
                                            employeed
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadios" value="unemployeed">
                                            unemployeed
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Mother Education :</label>
                                <div class="col-md-8">
                                    <select class="form-control">
                                        <option value="">Please Select</option>
                                        <option>Uneduacted</option>
                                        <option>Primary</option>
                                        <option>Middle</option>
                                        <option>Matriculation</option>
                                        <option>FA/FSC/I.COM/ICS/ and/or equivalent</option>
                                        <option>BA/BSC/B.COM amd/or equivalent</option>
                                        <option>MA/MSC/MCOM/BS/MBA amd/or equivalent</option>
                                        <option>M.Phill/MS/PHD and/or equivalent</option>
                                        <option>Any Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Mother's Profession :</label>
                                <div class="col-md-8">
                                    <div class="col-md-9">
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadios" value="Employeed" checked="">
                                            Employeed
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadios" value="House Wife">
                                            House Wife
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Student's Father Income :</label>
                                <div class="col-md-8">
                                    <select class="form-control">
                                        <option value="">Please Select</option>
                                        <option>INCOME LESS THAN RS.5000</option>
                                        <option>INCOME LEVEL BETWEEN RS.5000 TO 10,000</option>
                                        <option>INCOME LEVEL BETWEEN RS.10,000 TO 15,000</option>
                                        <option>INCOME LEVEL BETWEEN RS.15,000 TO 20,000</option>
                                        <option>INCOME LEVEL MORE THAN 20,000</option>
                                        <option>NOT APPLICABLE</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Student's Mother Income :</label>
                                <div class="col-md-8">
                                    <select class="form-control">
                                        <option value="">Please Select</option>
                                        <option>INCOME LESS THAN RS.5000</option>
                                        <option>INCOME LEVEL BETWEEN RS.5000 TO 10,000</option>
                                        <option>INCOME LEVEL BETWEEN RS.10,000 TO 15,000</option>
                                        <option>INCOME LEVEL BETWEEN RS.15,000 TO 20,000</option>
                                        <option>INCOME LEVEL MORE THAN 20,000</option>
                                        <option>NOT APPLICABLE</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Student's Household Income :</label>
                                <div class="col-md-8">
                                    <select class="form-control">
                                        <option value="">Please Select</option>
                                        <option>INCOME LESS THAN RS.5000</option>
                                        <option>INCOME LEVEL BETWEEN RS.5000 TO 10,000</option>
                                        <option>INCOME LEVEL BETWEEN RS.10,000 TO 15,000</option>
                                        <option>INCOME LEVEL BETWEEN RS.15,000 TO 20,000</option>
                                        <option>INCOME LEVEL MORE THAN 20,000</option>
                                        <option>NOT APPLICABLE</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">No of children :</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Parmanent Address :</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label">Phone No :</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Mobile NO :</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control">
                                </div>
                            </div>

                            <div class="formSection" style="text-align: center; vertical-align: middle">
                                <h2>Term &amp; Conditions &amp; Conditions </h2>
                                <table>
                                    <tbody>
                                        <tr cellspacing="0" cellpadding="2">
                                            <td style="font-weight: bold; font-size: 11px;">
                                                I agree that the above mentioned information and given picture is the actual data
                                                of the student as per my schools official admission/ withdrawal register. And I
                                                take the responsibility if any information regarding above mention student is incorrect.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <br>
                                                <span style="font-size:8pt;font-weight:bold;"><input id="ctl00_ContentPlaceHolder1_chkCheckBox" type="checkbox" name="ctl00$ContentPlaceHolder1$chkCheckBox"><label for="ctl00_ContentPlaceHolder1_chkCheckBox"> I have read &amp; agree with terms &amp; Conditions</label></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center" style="font-weight: bold; font-size: 11px;">
                                                <span id="ctl00_ContentPlaceHolder1_lblAgremeent" style="color:Red;font-weight:bold;display: none">Accept Terms &amp; Conditions</span>
                                                <br>
                                                <div class="col-md-9">
                                                    <button type="submit" class="btn btn-sm btn-primary m-r-5" style="margin-left:30%;">Submit</button>
                                                </div>
                                                <br>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <br />
                    </fieldset>
                </form>
            </div>
        </div>
</div>


