﻿
@{
    ViewBag.Title = "NonVerified_Students";
}
<style>
    .form-control {
        width: 50%;
    }

    .input-group {
        width: 50%;
    }
</style>
<div class="panel panel-inverse" data-sortable-id="form-stuff-5">
    <div class="panel-heading">

        <h4 class="panel-title">Search Student</h4>
    </div>
    <div class="panel-body">
        <form class="form-inline" action="#" method="POST">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-4">
                    <div class="form-group m-r-10">
                        <label>Search :</label>
                    </div>
                    <div class="form-group m-r-10">
                        <input type="search" class="form-control">
                    </div>
                    <div class="checkbox m-r-10">
                        <button type="submit" class="btn btn-sm btn-primary m-r-5">Search</button>
                    </div>
                </div>
            </div>


        </form>
    </div>
</div>
<div class="panel panel-inverse" data-sortable-id="form-stuff-4">
    <div class="panel-heading">
        <h2 class="panel-title"> DropStudent </h2>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" action="#" method="POST">
            <fieldset>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>SNo.</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Gender</th>
                                <th>Date Of Birth</th>
                                <th>Mobile</th>
                                <th>Address</th>
                                <th> </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Ali</td>
                                <td>Ahmed</td>
                                <td>Male</td>
                                <td>18-7-1995</td>
                                <td>123467889</td>
                                <td>abc</td>
                                <td>
                                    <button type="submit" class="btn btn-sm btn-primary m-r-5" style="margin-left:0%;">DROP</button>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Ali</td>
                                <td>Ahmed</td>
                                <td>Male</td>
                                <td>18-7-1995</td>
                                <td>123467889</td>
                                <td>abc</td>
                                <td>
                                    <button type="submit" class="btn btn-sm btn-primary m-r-5" style="margin-left:0%;">DROP</button>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Ali</td>
                                <td>Ahmed</td>
                                <td>Male</td>
                                <td>18-7-1995</td>
                                <td>123467889</td>
                                <td>abc</td>
                                <td>
                                    <button type="submit" class="btn btn-sm btn-primary m-r-5" style="margin-left:0%;">DROP</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </form>
    </div>
</div>

