﻿@using STIS.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- Mirrored from seantheme.com/color-admin-v1.9/admin/html/login_v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Nov 2015 11:39:59 GMT -->
<head>
    <meta charset="utf-8" />
    <title>STIS | Login Page</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/Content/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    @*<script src="~/Content/assets/plugins/pace/pace.min.js"></script>*@
    <!-- ================== END BASE JS ================== -->
</head>
<body>
    <!-- begin #page-loader -->
    @*<div id="page-loader" class="fade in"><span class="spinner"></span></div>*@
    <!-- end #page-loader -->

    <div class="login-cover">
        <div class="login-cover-image"><img src="~/Content/assets/img/login-bg/bg-1.jpg" data-id="login-cover-image" alt="" /></div>
        <div class="login-cover-bg"></div>
    </div>
    <!-- begin #page-container -->
    <div id="page-container" class="fade">
        <!-- begin login -->
        <div class="login login-v2" data-pageload-addclass="animated fadeIn">
            <!-- begin brand -->
            <div class="login-header">
                <div class="brand">
                    <span class="logo"></span> STIS Project
                    <small dir="rtl" style="width:100%;font-size:22px;margin-left:-20%;">پاکستان پڑھو بڑھو پاکستان</small>
                </div>
            </div>
            <!-- end brand -->

            <div class="login-content">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "margin-bottom-0", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group m-b-20">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control input-lg", placeholder = "Email Address" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group m-b-20">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>


                        <div class="checkbox m-b-20">
                            <label>
                                @Html.CheckBoxFor(m => m.RememberMe)Remember Me
                            </label>
                        </div>


                        <div class="login-buttons">
                            <input type="submit" value="Sign In" class="btn btn-success btn-block btn-lg" />
                        </div>
                }

            </div>

        </div>
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/Content/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/Content/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  
    <script src="~/Content/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/Content/assets/js/login-v2.demo.min.js"></script>
    <script src="~/Content/assets/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script>
        $(document).ready(function () {
            App.init();
            LoginV2.init();
        });
    </script>
   
</body>
</html>
