﻿<div id="header" class="header navbar navbar-default navbar-fixed-top">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
            <a  href="/Home/Index/" class="navbar-brand image"><img  src="~/Content/assets/img/123.png" /></a>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        <!-- begin header navigation right -->
        @Html.Partial("_LoginPartial")
        <!-- end header navigation right -->
    </div>
    <!-- end container-fluid -->
</div>

