﻿@using Microsoft.AspNet.Identity

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- Mirrored from seantheme.com/color-admin-v1.9/admin/html/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Nov 2015 11:27:53 GMT -->
<head>
    <meta charset="utf-8" />
    <title>STIS | Dashboard</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link href="~/Content/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/animate.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme/default.css" rel="stylesheet" id="theme" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="~/Content/assets/plugins/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/ionRangeSlider/css/ion.rangeSlider.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/password-indicator/css/password-indicator.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
  
    <!-- ================== END PAGE LEVEL STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    @*<script src="~/Content/~/Content/assets/plugins/pace/pace.min.js"></script>*@
    <!-- ================== END BASE JS ================== -->
</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade in"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
        <!-- begin #header -->
        @Html.Partial("~/Views/Shared/_HeaderPartial.cshtml")
        <!-- end #header -->
        <!-- begin #sidebar -->
        @Html.Partial("~/Views/Shared/_SideBarPartial.cshtml")
                <!-- end #sidebar -->
        <!-- begin #content -->
        <div id="content" class="content">
            <!-- begin breadcrumb -->
            <ol class="breadcrumb pull-right">
                @*<li><a href="javascript:;">Home</a></li>
                <li class="active">Dashboard</li>*@
            </ol>
            <!-- end breadcrumb -->
            <!-- begin page-header -->
           <!-- <h1 class="page-header">Dashboard <small>header small text goes here...</small></h1>-->
            <!-- end page-header -->
            @RenderBody()
        </div>
        <!-- end #content -->
        <!-- begin scroll to top btn -->
        <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
        <!-- end scroll to top btn -->
    </div>
    <!-- end page container -->
    <!-- ================== BEGIN BASE JS ================== -->
    <script src="~/Content/assets/plugins/jquery/jquery-1.9.1.min.js"></script>
    <script src="~/Content/assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
        <script src="~/Content/assets/crossbrowserjs/html5shiv.js"></script>
        <script src="~/Content/assets/crossbrowserjs/respond.min.js"></script>
        <script src="~/Content/assets/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/Content/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Content/assets/plugins/jquery-cookie/jquery.cookie.js"></script>
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/Content/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/Content/assets/plugins/masked-input/masked-input.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/assets/plugins/password-indicator/js/password-indicator.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-combobox/js/bootstrap-combobox.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js"></script>
    <script src="~/Content/assets/plugins/jquery-tag-it/js/tag-it.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-daterangepicker/moment.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/assets/plugins/select2/dist/js/select2.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/assets/js/form-plugins.demo.min.js"></script>
    <script src="~/Content/assets/js/apps.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

    <script>
		$(document).ready(function() {
			App.init();
			FormPlugins.init();
		});
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','../../../../www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53034621-1', 'auto');
      ga('send', 'pageview');
    </script>
</body>
<!-- Mirrored from seantheme.com/color-admin-v1.9/admin/html/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Nov 2015 11:31:41 GMT -->
</html>
