﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown navbar-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
                <img src="~/Content/assets/img/user-13.png" alt="" />
                <span class="hidden-xs"></span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu animated fadeInLeft">
                <li class="arrow"></li>
                <li class="divider"></li>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()"><b style="color:black;margin-left:60px;">Log off</b></a>
                    </li>
                }
            </ul>
        </li>
    </ul>
}

