﻿<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar nav -->

        <!--School section-->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <li class="has-sub active">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>School Section</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#">School Profile</a></li>
                    <li><a href="#">School Pictures</a></li>
                    <li><a href="#">Licensee Information and contact details</a></li>
                    <li><a href="#">Land and Infrastructure Details</a></li>
                    <li><a href="#">GIS mapping of said school</a></li>
                </ul>
            </li>
           
        <!--Student section-->
       
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Student Section</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="~/Student/Add">Add New Student</a></li>
                    <li><a href="~/Student/Search">Search Student</a></li>
                    <li><a href="~/Student/DropStudent">Drop Student</a></li>
                    <li><a href="~/Student/DropDuplicateStudent">Drop Duplicate Students</a></li>
                    <li><a href="#">Retain Students</a></li>
                    <li><a href="~/Student/DoublePromotion">Double Promotion</a></li>
                    <li><a href="~/Student/VerifiedStudents">View Verified Students</a></li>
                    <li><a href="~/Student/EnrollmentDetails">View Student Enrollment Detail</a></li>
                    <li><a href="~/Student/NonVerified_Students">View Non-Verified Student</a></li>
                    <li><a href="~/Student/DuplicateStudents">View Duplicate Students</a></li>
                    <li><a href="~/Student/ViewDropout">View Dropout Students</a></li>
                    <li><a href="~/Student/InvalidCNIC">List of Students with invalid Father CNIC</a></li>
                    <li><a href="~/Student/NoPictures">List of Students with No Pictures</a></li>
                    <li><a href="~/Student/Inclusive">View Inclusive students</a></li>
                </ul>
            </li>
        
        <!--Teacher Section-->
       
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Teachers Section</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#">Teacher Data Base</a></li>
                    <li><a href="#">Add New Teacher</a></li>
                    <li><a href="#">Update existing teacher</a></li>
                    <li><a href="#">Consent form for trainings Etc.</a></li>
                </ul>
            </li>
        

        <!--School Infrastructure system -->
        
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>School Infrastructure system</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#">School Infrastructure as per inventory form</a></li>
                    <li><a href="#">Current infrastructure of school</a></li>
                    <li><a href="#">Facilities available in school</a></li>
                    <li><a href="#">Others</a></li>
                   
                </ul>
            </li>
        

        <!--Monthly update details -->
        
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Monthly update section</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#">Monthly update details</a></li>
                </ul>
            </li>
        
        <!--Result Deatails-->
       
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Results Deatails </span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#">PEC Results</a></li>
                    <li><a href="#">QAT Results</a></li>
                    <li><a href="#">Teachers certification Results</a></li>
                    <li><a href="#">LND Results</a></li>
                </ul>
            </li>
        <!--Monitoring Report section-->
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Montoring Report section </span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#">All alegation in monitoring reports of M&E of PMIU Visits</a></li>
                </ul>
            </li>
       
        <!--Payment section-->
       
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Payment section</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#">Show the month wise summary of payments release to school</a></li>
                    <li><a href="#">Expenditure Statements</a></li>
                </ul>
            </li>
        <!--Complaint section-->
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Complaint section</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#">Complaint status</a></li>
                </ul>
            </li>
        <!--Book Demand section-->
            <li class="has-sub">
                <a href="javascript:;">
                    <b class="caret pull-right"></b>
                    <i class="fa fa-laptop"></i>
                    <span>Book Demand section</span>
                </a>
                <ul class="sub-menu">
                    <li><a href="#">Book Demand </a></li>
                </ul>
            </li>
       </ul>
            <!-- end sidebar nav -->
</div>
    <!-- end sidebar scrollbar -->
</div>
<div class="sidebar-bg"></div>

